

#move-right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    width: 30%;
    color: darkgray;
}

.top-right-link{
    color: darkgray;
}

#divtest{
    display: flex;
    justify-content: space-evenly;
    background-image: url(../source/main-background.jpeg);
}