

#move-right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    width: 30%;
    color: darkgray;
}

.top-right-link{
    color: darkgray;
}

#divtest{
    display: flex;
    justify-content: space-evenly;
    background-image: url(../source/main-background.jpeg);
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333333;
    color: rgba( 255, 255, 255, 0.7 );
}

#footer-first-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 3%;
    width: max-content;
}

#footer-second-div {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 3%;
}