* {
    margin: 0;
    padding: 0;
    
}

img {
    width: 25px;
    height: 25px;
}

a{
    text-decoration: none;
    color: black;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#nav{
    background-color: darkgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav-inner-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    margin-right: 2%;
}

.navbar-image{
    height: 100%;
    margin-top: 30%;
    margin-bottom: 30%;
}

main {
    height:max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87%;
}

#main-inner-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#boogle-image {
    width: 26%;
    height: 26%;
    margin-bottom: 2%;
    margin-top: -10%;
}



#main-input-tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    border-style:solid ;
    border-width:2px ;
    border-radius: 30px;
    height: 50px;
}

#main-inner-input{
    height: 80%;
    width: 100%;
    border-style: none;
    font-size: large;
}

.input-image{
    margin-left: 2%;
    margin-right: 2%;
}

#main-inner-buttons {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin: 4%;
}

button{
    padding: 4%;
    width: 70%;
    border-width: 1px;
    border-radius: 10px;
}

button:nth-child(1){
    position: relative;
    right: 40%;
    margin-right: 40%;
}

#footer-nav{
    display: flex;
    justify-content: space-between;
    background-color: darkgrey;
    height: 290%;
    align-items: center;
}

#footer-nav-div-left{
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}

#footer-nav-div-right {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}

.link:hover{
    text-decoration: underline;
}




